@font-face {
  font-family: "Paperozi";
  src: url(assets/fonts/paperlogy/Paperlogy-1Thin.ttf) format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url(assets/fonts/paperlogy/Paperlogy-2ExtraLight.ttf) format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url(assets/fonts/paperlogy/Paperlogy-3Light.ttf) format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url(assets/fonts/paperlogy/Paperlogy-4Regular.ttf) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url(assets/fonts/paperlogy/Paperlogy-5Medium.ttf) format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url(assets/fonts/paperlogy/Paperlogy-6SemiBold.ttf) format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url(assets/fonts/paperlogy/Paperlogy-7Bold.ttf) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url(assets/fonts/paperlogy/Paperlogy-8ExtraBold.ttf) format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url(assets/fonts/paperlogy/Paperlogy-9Black.ttf) format("woff2");
  font-weight: 900;
  font-display: swap;
}

body {
  margin: 0;
}
